/* styles.css */

/* Define o estilo da página */
body {
  background-image: url("Imagens/2.1.jpg"); /* Substitua pelo caminho da sua imagem de fundo */
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

/* Estilo para o contêiner do formulário */
.form-container {
  width: 400px;
  background-color: #b8f88c;
  opacity: 0.9;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo para o formulário dentro do contêiner */
.form-container form {
  display: flex;
  flex-direction: column;
}

/* Estilo para os campos do formulário */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

/* Estilo para o botão de envio do formulário */
.form-container input[type="submit"] {
  background-color: #55942f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo para o botão de envio do formulário ao passar o mouse */
.form-container input[type="submit"]:hover {
  background-color: #497d28;
}

/* Estilo para o slogan centralizado */
#slogan {
  text-align: center;
  font-size: 24px;
  color: white;
}

/* Estilo para o contêiner do logotipo */
.logo-container {
  text-align: center;
}

.logo-container img {
  width: 200px;
  height: auto;
}

/* Estilo para o rótulo de upload */
#upload-label {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

#upload-label strong {
  margin-bottom: 5px;
}

#upload-label img {
  width: 100px; 
  height: 80px;
}

